streamlit
selenium
pandas
openpyxl
xlrd>=2.0.1 
xlwt

pytest

ollama
faiss-cpu
numpy
sentence-transformers
docling
pytesseract 
pdf2image 
pillow
tesseract 
poppler-utils

# pyinstaller
# pip install -r requirements.txt